#hs-footer {
    color: #fff;
    background: #324258;
    padding-top: 40px;
    padding-bottom: 120px;
}

#hs-footer h3 {
    color: #fff;
    text-transform: uppercase;
}

#hs-footer a {
    color: #fff;
}

#hs-footer a:hover {
    text-decoration: underline;
}

ul#footer-social li {
    display: inline-block;
    padding: 0 5px 0 0;
}