.App {
  font-family: 'Roboto', sans-serif !important; /* Overriding ant.design fonts */
  background: rgb(245, 245, 245);
}

.App a {
  text-decoration: none;
  color: gray;
}

.App a:hover {
  text-decoration: underline;
}

.App img { 
  max-width: 100%;
}